<h1>Roles</h1>

<ul>
  <li><a href="<%= root_path %>portal/users">Manage users</a></li>
  <li><a href="<%= root_path %>portal/roles">Manage roles</a></li>
  <li><a href="<%= root_path %>portal/permissions">Manage permissions</a></li>
  <li><a href="<%= root_path %>portal/authentication_types">Manage authentication types</a></li>
</ul>

